.App {
  text-align: center;
  /* background-color: #1d3354; */
  align-items: center;
  justify-content: center;
  /* color: #f2f4ff; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-swimmer {
  color: #1098f7;
  margin-right: 20px;
  position: relative;
  top: 10px;
}

.fa-edit {
  color: orange;
  margin: 5px;
  cursor: pointer;
}

.fa-trash {
  color: red;
  margin: 5px;
  cursor: pointer;
}

.fa-calendar-minus {
  color: red;
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.fa-check {
  color: dodgerblue;
}

div.antarmuka-admin {
  margin: 25px;
  padding: 0px;
}

div.antarmuka-admin-card {
  margin: 10px;
  padding: 0px;
}

div.sidebar {
  background-image: linear-gradient(to bottom right, #1098f7, #40acfa);
  height: 100vh;
}

.header {
  background-color: #f2f4ff;
  box-shadow: 0px -5px 15px grey;
}

.center-text {
  text-align: center;
}

.divider {
  border-top: 1px solid #6cc2ff;
  margin: 10px;
}

.navbar-dark .navbar-nav a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

.navbar-dark .navbar-nav a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}

.navbar-dark .navbar-nav a .active {
  color: white;
  text-decoration: none;
}

.small-text {
  font-size: 12px;
}

.red {
  color: red;
}